<div class="conteiner.fluid">
<div class="row">
    <h3>Experiencia laboral</h3>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/images.jpg" id="logo-unc">
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <h5>2022-2023</h5>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h4>Becaria Doctoral por la Secretaría de Ciencia y Técnica de la UNC</h4>
        <p><span>Tareas realizadas:</span> Realización de tareas de investigación como redacción de proyectos, realización de entrevistas en profundidad, análisis de datos. Participación en congresos. Redacción de artículos científicos.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/ujdis.png" id="logo-unc">
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <h5>2021-2022</h5>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h4>Residente de Orientación Judicial en la Unidad Judicial de Delitos Contra la
            Integridad Sexual en Córdoba</h4>
        <p><span>Tareas realizadas:</span> Entrevistas en profundidad, asesoramiento, orientación respecto a procesos
            penales, de familia o judiciales, articulación y derivación hacia otras instituciones del Estado
            (Tribunales de Familia, Asesorías Penales, Instituciones de Salud, etc), abordaje de situaciones
            complejas (personas en situación de calle, con padecimiento subjetivo, violencia de género,
            consumo problemático de sustancias, vulneración de derechos de niñas, niños y adolescentes, etc)
            Abordaje y acompañamiento de situaciones ligadas a Abuso Sexual y Abuso Sexual Infantil,
            acompañamiento en la instancia de denuncia o declaración.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/hospital de niños.png" id="logo-unc">
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <h5>2018-2021</h5>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h4>Residente de Trabajo Social y Salud, en el Hospital de Niños de la Santísima Trinidad
            de Córdoba</h4>
        <p><span>Tareas realizadas:</span> Gestión de recursos de salud, abordaje familiar en salas de internación,
            participación en el Proyecto de Promoción Integral de Derechos Sexuales y (no) Reproductivos, y
            en el Proyecto de Abordaje Integral de Niñes y Adolescentes que Viven con VIH. Abordaje de
            situaciones familiares con niños con enfermedades crónicas. Elaboración de proyectos
            disciplinares. Articulación inter e intrainstitucional. Armado, ejecución y coordinación de talleres
            socioeducativos con jóvenes y adultos. Realización de entrevistas en profundidad. Abordaje de
            temáticas complejas (Violencia de Género, Maltrato Infantil, Abuso Sexual Infantil, Consumo
            Problemático de Sustancias, Adherencia al Tratamiento, Discapacidad, etc)</p>
    </div>
</div>
<div class="conteiner.fluid">
    <div class="row">
        <h3>Educación</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Doctoranda en Estudios Sociales de América Latina</h4>
            <p><span>Tareas realizadas:</span> Realización de tareas de investigación como redacción de proyectos, realización de entrevistas en profundidad, análisis de datos. Participación en congresos. Redacción de artículos científicos.</p>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <h5>2022-2023</h5>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/images.jpg" id="logo-unc">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Licenciatura en Trabajo Social en la Universidad Nacional de Córdoba</h4>
            <p><span>Promedio: 9.05.</span>
                <span>Abanderada de la Facultad de Ciencias Sociales.</span> Período 2016. Resolución 1198/2016
                <span>Segunda Escolta de la Escuela de Trabajo Social.</span> Período 2015. Resolución 1320/2015.</p>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <h5>2012-2017</h5>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/images.jpg" id="logo-unc">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Plan Argentina Programa #SéProgramar</h4>
            <p><span>Aprobación de la primera etapa:</span> Gobstone. Javascript. Ruby</p>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <h5>2022</h5>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/argentina programa.png" id="logo-unc">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h4>Plan Argentina Programa #YoProgramo</h4>
            <p><span>Segunda etapa en curso:</span>HTML, CSS, Javascript, Angular, Bases de Datos, Programación web (JAVA) </p>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <h5>2022</h5>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/argentina programa.png" id="logo-unc">
        </div>
    </div>

</div>