div {
    background-color: rgb(172, 152, 212);
}

.row {
    padding: 20px;
    width: auto;
}
h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: justify;
}

h3 {
    font-size: 35px;
    padding: 40px;
}
img {
    max-width: 80%;
    box-shadow: 10px 10px 30px #60229D;
}

.titulo, .imagen {
    display: inline-block;
    text-align: justify;
}
