<div class="row">
    <h3>Hard & Soft Skills</h3>
</div>
<div class="row">
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="70"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [title]="'HTML'"
  [showSubtitle]="false"
  [titleFontSize]="'25px'"
  [showUnits]="false"
  [outerStrokeColor]="'#60229D '"
  [innerStrokeColor]="'#FFFFFF '"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="80"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [title]="'CSS'"
  [showSubtitle]="false"
  [titleFontSize]="'25px'"
  [showUnits]="false"
  [outerStrokeColor]="'#60229D '"
  [innerStrokeColor]="'#FFFFFF '"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="50"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [title]="'Javascript'"
  [showSubtitle]="false"
  [titleFontSize]="'25px'"
  [showUnits]="false"
  [outerStrokeColor]="'#60229D '"
  [innerStrokeColor]="'#FFFFFF '"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress>
    </div>
</div>
<div class="row">
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [title]="'GitHub'"
  [showSubtitle]="false"
  [titleFontSize]="'25px'"
  [showUnits]="false"
  [outerStrokeColor]="'#60229D '"
  [innerStrokeColor]="'#FFFFFF '"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [title]="'Trabajo en Equipo'"
  [showSubtitle]="false"
  [titleFontSize]="'20px'"
  [showUnits]="false"
  [outerStrokeColor]="'#60229D '"
  [innerStrokeColor]="'#FFFFFF '"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="95"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [title]="'Resolución de Conflictos'"
  [showSubtitle]="false"
  [titleFontSize]="'15px'"
  [showUnits]="false"
  [outerStrokeColor]="'#60229D '"
  [innerStrokeColor]="'#FFFFFF '"
  [animation]="true"
  [animationDuration]="2000"
></circle-progress>
    </div>
</div>
