div {
    background-color: rgb(172, 152, 212);
}
#logo-unc {
    max-width: 85%;
}
.row {
    padding: 20px;
}
h3, h4, h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span {
    text-decoration: underline;
}
p {
    text-align: justify;
}